.star {
  position: relative;
  mask-position: center;
  mask-size: 100% 100%;
}

.star__progress {
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.star-list {
  display: flex;
  cursor: pointer;
}

.star-list--readonly {
  cursor: default;
}

.star-list--disabled {
  cursor: not-allowed;
}